<div class="container content">
	<br/>
	<div class="lighting_heading" class="article ">
		<h2 style="text-align:center;">Services</h2>
		<br/>
		<br/>
		

		<a href="#back_to_top">
		<%= image_tag "back_to_top.png",:alt => "", :class => 'right back_to_top' %></a>
		
		<div>
			<span style="float:left;padding-right:10px" ><%= image_tag "services_lighting.jpg", :alt => "", :class => '' %></span>
		<h3 >Lighting</h3>
		  <p>Lighting plays a major role in electrical work and in electricity efficiency. We strive to offer lighting solutions that can either help you save money on how much electricity is spent, by installing sensors and timers, so if the light isn't being used it would switch off automatically(usually seen in corporate buildings). Or help you light up your garden, drive way or house and insure the installation is done to accredited standards and not only illuminates the desired area, but does so safely. There are many applications for lighting - below is a list of just some of the lighting services and products we offer.<p/>
		</div>

		<div style="position:relative;left:200px;">
			<p >
		  <ul class="navlist">
		    <li>Wall lights</li>
		    <li>Spotlights</li>
		    <li>Down lights</li>
		    <li>Flood lights</li>
		    <li>LED lights</li>
		    <li>Halogen lights</li>
		    <li>Kitchen lighting</li>
		    <li>Bathroom lighting</li>
		    <li>Ceiling lights</li>
		  </ul>

		  <ul class="navlist" style="position:relative;left:200px;top:-190px" >
		    <li>Low voltage lighting</li>
		    <li>Display lighting</li>
		    <li>Emergency lighting - covered in fire and Safety</li>
		    <li>Light fittings</li>
		    <li>Light switches</li>
		    <li>Pendant lights</li>
		    <li>Office Lighting</li>
		    <li>Lighting Controls and automation</li>
		    <li>Lighting fault finding and repairs</li>
		  </ul>
		  </p>
		</div>
	</div>

		<div id="rewiring_heading" class=" article" style="position:relative;top:-130px">
		<a href="#back_to_top">
		<%= image_tag "back_to_top.png",:alt => "", :class => 'right back_to_top' %></a>

		<div>
			<span style="float:left;padding-right:10px" ><%= image_tag "services_wiring.jpg",:alt => "", :class => '' %></span>
			<h3>Rewiring</h3>
		  <p>The life expectancy of a new electrical installation is approximately 15 - 20 years depending on the equipment installed. Electrical rewiring involves the replacement of old, dangerous or non-compliant electrical equipment such as cables, lights, fuse boxes and other electrical fittings. Precision Electrical has done many a rewire in the London and Greater London area for office blocks, residential homes and even universities. Our experience gives us the edge and we are clinical when it comes to making sure you meet all the required safety obligations. Some of the rewiring work we do includes:</p>

		</div>

<br/>
<br/>

		 	<div style="position:relative;left:200px;" >
		 	<ul class="navlist">
		    <li>Complete rewires for any type of building or home</li>
		    <li>Partial rewiring for residential/corporate/industrial</li>
		    <li>Fuse board installation/upgrade</li>
		    <li>Smoke alarm checks, upgrades and/or maintenance</li>
		  </ul>

		  <ul class="navlist" style="position:relative;left:350px;top:-90px">
		    <li>Telephone socket installations</li>
		  	<li>Heating rewiring</li>
		    <li>Security lighting and alarm maintenance</li>
		    <li>Kitchen rewiring and upgrades if needed</li>
		  </ul>
		 	</div>

		
	</div>


			</br>
		</br>
		<div id="certificate_heading" class="article" style="position:relative;top:-200px">
		<a href="#back_to_top">
		<%= image_tag "back_to_top.png",:alt => "", :class => 'right back_to_top' %></a>

		<div>
				<span style="float:left;padding-right:10px" ><%= image_tag "services_certificates.jpg",:alt => "", :class => '' %></span><br/>
			<h3>Electrical Certificates

			<p>There are mainly 3 types of Certificates, namely:</p>

		</div>
		  </h3><br/><br/><br/>
		  <h4>Periodic Inspection Report</h4>
		  <p>A Periodic Inspection Report (PIR) is something  every London property should have - to prove that all electrical installations have been tested and certified periodically. PIR's will show any overloaded circuit boards, faulty equipment or even outdated equipment. frequency of a Periodic Inspection Report depends on the age of the build and the amount of use of the equipment.</p>


			<h4>Visual Electrical Inspection Certificate</h4>
			<p>A Visual Electrical Inspection for a London property will give you an indication of the state of the electrical system of a particular building before renting or buying the property.  This certification is usually opted for before a full electrical safety inspection. As the electrical equipment maybe new and you may know that there wouldn't be a need for the full inspection but only to confirm it, with this type of inspection. Hence saving you some money.</p>

		  <h4>Electrical Safety Certificates for Landlords</h4>
			<p>This inspection ensures that all electrical appliances, fittings, systems and all round installations within a property you rent out or buy are safe and that they come up to standard. Although this is not a legal requirement for landlords or home sellers in London, you could be held liable if any of the electrics within your property cause actual harm to the tenant or buyer.</p>
	</div>


		</br>
		</br>
		<div id="faults_heading" class="article" style="position:relative;top:-160px">
		<a href="#back_to_top">
		<%= image_tag "back_to_top.png",:alt => "", :class => 'right back_to_top' %></a>


		<div style="height:5px">
			<span style="float:left;padding-right:10px" >
				<%= image_tag "services_fault.jpg",:alt => "", :class => '' %>
			</span>
		<h3>Fault Finding</h3>
		  <p>Electrical faults can potentially be very serious and in many cases highly dangerous, whether it be through electric shock or a short circuit causing a building fire. If you're experiencing electrical problems of any kind with your electrical equipment - whether it be sockets, cables, lighting, circuits or fuse boxes, the first thing you should do is get a hold of a qualified electrician. Many people try to undertake the analysis and testing themselves without any qualification, this is extremely dangerous could lead to serious injury or even death. <br/><br/>This should not be an option - as the risks are to high. Precision Electrical is fully qualified and accredited to undertake the most stringent of tests and analysis to weed out the problem and remedy this with a solution. We are clinical when it comes to faults as safety is of paramount importance when electricity is involved. Call us to make sure the problem gets solved as quickly and efficiently as possible.</p>
		</div>

	</div>

</div>