   <div class="clear_elements"></div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="span3">
        <h2>Image Gallery</h2>
        <a href="#"><%= image_tag("gallery_1.jpg", width: "58", height: "58", alt: "pix") %></a> 
        <a href="#"><%= image_tag("gallery_2.jpg", width: "58", height: "58", alt: "pix") %></a> 
        <a href="#"><%= image_tag("gallery_3.jpg", width: "58", height: "58", alt: "pix") %></a> 
        <a href="#"><%= image_tag("gallery_4.jpg", width: "58", height: "58", alt: "pix") %></a> 
        <a href="#"><%= image_tag("gallery_5.jpg", width: "58", height: "58", alt: "pix") %></a> 
        <a href="#"><%= image_tag("gallery_6.jpg", width: "58", height: "58", alt: "pix") %></a> 
      </div>
      <div class="span4" style="margin-left:50px">
        <h2><span>Lorem Ipsum</span></h2>
        <p>Lorem ipsum dolor<br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Morbi tincidunt, orci ac convallis aliquam</a>, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
      </div>
      <div class="span3" style="margin-left:40px">
        <h2><span>Contact</span></h2>
        <p><a href="mailto:precisionelectricals.com?Subject=Enquiry for Precision Electrical">Email us: precisionelectricals.com </p>
        <p>Call us: +1 (123) 444-5677</p>
        <div class=" span3 social" style="margin-left:-20px">
          <br/>
          <a href="#"><%= image_tag("facebook.png", width: "40", height: "40", alt: "pix") %></a> 
          <a href="#"><%= image_tag("linkedin.png", width: "40", height: "40", alt: "pix") %></a> 
          <a href="#"><%= image_tag("twitter.png", width: "40", height: "40", alt: "pix") %></a> 
        </div>
      </div>
      <div class="clear_elements"></div>
    </div>
    <div class="footer">
      <p class="lr">&copy; 2001 - 2012 Precision Electrical</p>
      <p class="lf"></p>
      <div class="clear_elements"></div>
    </div>
  </div>
</div>
</body>
</html>
