<br/>
<br/>
<br/>
<div class="container content">

    <span class="trust" >
      <img src="assets/trust1.png" style="margin-left:29px;height:90px;width:132px">
    </span>
    <span class="trust">
      <img src="assets/trust2.png" style="margin-left:29px;height:100px;width:162px">
    </span>
    <span class="trust">
      <img src="assets/trust3.png" style="margin-left:29px;height:100px;width:152px">
    </span>
    <span class="trust">
      <img src="assets/trust4.png" style="margin-left:29px;height:132px;width:132px">
    </span>    
    <span class="trust">
      <img src="assets/trust6.png" style="margin-left:29px;height:115px;width:160px">
    </span>
  </div>
    <div class="clear_elements" ></div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="span3">
        <h2>Our cleints</h2>
        <a href="http://wimpy.uk.com/"><%= image_tag("co_1.gif", :class => "co_size", alt: "pix") %></a> 
        <a href="http://www.checkpoint.com/"><%= image_tag("co_2.jpg", :class => "co_size",alt: "pix") %></a> 
        <a href="http://www.renz-germany.de/"><%= image_tag("co_3.png",  :class => "co_size", alt: "pix") %></a> 
        <a href="http://www.universitycatholic.net/index.php?option=com_content&view=article&id=73&Itemid=208">
          <%= image_tag("co_4.png",  :class => "co_size", alt: "pix") %></a> 
        <a href="http://www.stmichaelshospice.org.uk/"><%= image_tag("co_5.jpg",  :class => "co_size", alt: "pix") %></a> 
        <a href="http://www.idsgrp.com/"><%= image_tag("co_6.jpg",  :class => "co_size", alt: "pix") %></a> 
      </div>
      <div class="span4" style="margin-left:70px">
        <h2><span>Offices</span></h2>
        <div class='company_details '>
          <p><h4>Precision Electrical London </h4>
          16 Sycamore Walk<br/>
          Egham London<br/>
          TW20 0PD<br/></p>

      </div>
      </div>
      <div class="span3" style="margin-left:325px; margin-top:-185px">
        <h2><span>Contact</span></h2>
        <p><a href="mailto:precisionelectricals.com?Subject=Enquiry for Precision Electrical">Email us: precisionelectricals.com </p>
        <p>Call us: +1 (123) 444-5677</p>
        <div class=" span3 social" style="margin-left:-20px">
          <br/>
          <a href="#"><%= image_tag("facebook.png", width: "40", height: "40", alt: "pix") %></a> 
          <a href="#"><%= image_tag("linkedin.png", width: "40", height: "40", alt: "pix") %></a> 
          <a href="#"><%= image_tag("twitter.png", width: "40", height: "40", alt: "pix") %></a> 
        </div>
      </div>
      <div class="clear_elements"></div>
    </div>
    <div class="footer">
      <p class="lr">&copy; 2001 - 2012 Precision Electrical</p>
      <p class="lf"></p>
      <div class="clear_elements"></div>
    </div>
  </div>
</body>
</html>
