<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="google-site-verification" content="M_R39G50VGSj1qNIltHKGTmVg_iCLbSZVlJK1tixhLg" />
<title>Precision Electrical</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main" id="back_to_top">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
       <a href="/"><%= image_tag("Logo.jpg", height: "126"  , width: "198.4" ) %></a> 
      </div>
      <!--Menu Navigation -->
      <div class="menu_nav">
       <ul>
          <li class="active menu_nav_item">
            <a href="/">
              Home<br />
              <span>home page</span>
            </a>
          </li>
          <li class="menu_nav_item">
            <a href="/about_us">
              About Us<br />
              <span>company info</span>
            </a>
          </li>
          <li class="menu_nav_item">
            <div class="dropdown">
              <a class="dropdown-toggle" id="services-menu-drop" data-toggle="dropdown" href="#">
                Services <br />
                <span>information</span>
              </a>
              <!-- Drop Down Menu -->
              <ul class="dropdown-menu">
                <li>
                  <a class="drop_down_items" href="/services#lighting_heading">Lighting</a>
                </li>
                <li>
                  <a class="drop_down_items" href="/services#rewiring_heading">Rewiring</a>
                </li>
                <li>
                  <a class="drop_down_items" href="/services#certificate_heading">Electrical Certificates</a>
                </li>
                <li>
                  <a class="drop_down_items" href="/services#faults_heading">Fault Finding</a>
                </li>
                <li>
                  <a class="drop_down_items" href="/heating-and-plumbing">Heating & Plumbing</a>
                </li>
                <li>
                  <a class="drop_down_items" href="/fire-and-safety">Fire & Safety</a>
                </li>
                <li>
                  <a class="drop_down_items" href="/electrical-instalments">Electrical Installations</a>
                </li>
              </ul>
            </div> 
          </li>
          <li class="menu_nav_item">
            <a href="/rates">
              Rates<br />
              <span>hourly rates</span>
            </a>
          </li>
          <li class="menu_nav_item">
            <a href="/contact_us" class="last">
              Contact Us<br />
              <span>call us now</span>
          </a>
        </li>
      </ul>     
        <div class="clr"></div>
      </div>
      <i id= "img-down" class="icon-chevron-down" style="position:relative;left:317px;top:105px;display:none"></i>
      <div class="clr"></div>
    </div>
  </div>
    <div id="main_show"> 
      <div id='main_slider_background_border' >
    <div id="pic_slide" class="pics " style="position: relative;">
    <span><%= image_tag "image1_done.jpg",  :class => "slide_image" , :alt => "Image1" %></span>
    <span><%= image_tag "image2_done.jpg",  :class => "slide_image" , :alt => "Image2" %></span>
    <span><%= image_tag "image3_done.jpg",  :class => "slide_image" , :alt => "Image3" %></span>
    <span><%= image_tag "image4_done.jpg",  :class => "slide_image" , :alt => "Image4" %></span>
    </div>
  </div>
  </div>

<div clas="clear_elements" ></div>



<script type="text/javascript">
             
  $(document).ready(function() {
    $('#services-menu-drop').hover(function(){
      $('#img-down').show();
      },
      function(){
        $('#img-down').hide();
      }
    );  
});

  $('#pic_slide').cycle({ 
        fx:    'fade', 
        speed:  1000 
     });
</script>